.container {
  background-color: black;
  width: 310px;
  border-radius: 10px;
}

.buttons {
  flex-direction: column;
  display: flex;
  justify-items: center;
}

button {
  width: 40%;
  margin-top: 10px;
}
